# Chimpansky files
*.Xc
#*.pdf
*.ods
*.ods#
#*.txt
*.png
test.c
test_list.c
test_buffer.c
test_free.c
test_quotes.c

#folders:
minishell_tester/

# IDE
.vscode

# binaries
*.o
*.a
*.out
minishell

# generated
tests/tests_output/*

# debug syms
.nfs*
